<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/yeti.css}" />
    <link rel="stylesheet" th:href="@{/css/custom.css}" />
</head>

<body style="padding-top:50px">
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="navbar">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" th:href="@{/}" th:text="#{home}">Home</a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/login" th:href="@{/domains}" th:text="#{subscribed.domains}">Subscribed domains</a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/login" th:href="@{/keywords}" th:text="#{subscribed.keywords}">Subscribed keywords</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/news" th:href="@{/news}" th:text="#{news}">News</a>
                </li>
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/login" th:href="@{/login}" th:text="#{login}">Login</a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/logout" th:href="@{/logout}" th:text="#{logout}">Logout</a>
                </li>
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/signup" th:href="@{/signup}" th:text="#{signup}">Signup</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div th:fragment="footer">

</div>
</body>
</html>
