<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head th:include="fragments/header :: head">
    <title id="pageTitle" th:text="#{title.error}"></title>
</head>
<body style="padding-top:50px">
<div th:replace="fragments/header :: navbar">&nbsp;</div>

<div class="container center_div">
    <!--
      Failed URL: ${url}
      Exception:  ${exception.message}
          <c:forEach items="${exception.stackTrace}" var="ste">    ${ste}
      </c:forEach>
    -->
</div>

<div th:replace="fragments/header :: footer"></div>
</body>
</html>
