<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head th:include="fragments/header :: head">
    <title th:text="#{title.index}">Title</title>
</head>
<body style="padding-top:50px">
    <div th:replace="fragments/header :: navbar"></div>
</body>
</html>
