<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head th:include="fragments/header :: head">
    <title id="pageTitle" th:text="#{title.login}"></title>
</head>
<body style="padding-top:50px">
    <div th:replace="fragments/header :: navbar"></div>

    <div class="container">
        <div class="row">
            <p th:if="${loginError}" class="error">Wrong user or password</p>

            <form name='loginForm' th:action="@{/login}" method="post">

                <div class="form-group row">
                    <label class="col-sm-3" th:text="#{username}">Username</label>
                    <span class="col-sm-5">
                        <input type="text" name="username" class="form-control" autofocus/>
                    </span>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3" th:text="#{password}">Password</label>
                    <span class="col-sm-5">
                        <input type="password" name="password" class="form-control" />
                    </span>
                </div>

                <button class="btn btn-primary" type="SUBMIT" th:text="#{login}">Login</button>

            </form>
        </div>
    </div>

</body>
</html>
