<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head th:include="fragments/header :: head">
    <title id="pageTitle" th:text="#{title.signup}"></title>
</head>
<body style="padding-top:50px">
    <div th:replace="fragments/header :: navbar"></div>
    <div class="container center_div">

    <form th:action="@{/signup}" th:object="${newSingupUser}" method="POST">
        <div class="form-group row">
            <label class="col-sm-3" th:text="#{username}">username</label>
            <span class="col-sm-5">
                <input id="username"
                       type="text"
                       class="form-control"
                       name="username"
                       th:field="*{username}"
                       required="required"
                       autofocus/>
            </span>
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</span>
        </div>

        <div class="form-group row">
            <label class="col-sm-3" th:text="#{password}">password</label>
            <span class="col-sm-5">
                <input id="password"
                       class="form-control"
                       name="password"
                       type="password"
                       th:value="*{password}"
                       th:field="*{password}"
                       required="required"/>
            </span>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</span>
        </div>

        <div class="form-group row">
            <label class="col-sm-3" th:text="#{confirmPass}">confirm</label>
            <span class="col-sm-5">
                <input id="matchPassword"
                       class="form-control"
                       name="matchingPassword"
                       type="password"
                       th:value="*{matchingPassword}"
                       th:field="*{matchingPassword}"
                       required="required"/>
            </span>
        </div>

        <div class="form-group row">
            <label class="col-sm-3" th:text="#{email}">email</label>
            <span class="col-sm-5">
                <input id="email"
                       type="email"
                       class="form-control"
                       name="email"
                       th:field="*{email}"
                       required="required"/>
            </span>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</span>
        </div>

        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        <button type="submit" class="btn btn-primary" th:text="#{submit}">
            Submit
        </button>
    </form>

    <a th:href="@{/login}" th:text="#{loginLink}">Login</a>
</div>
</body>
</html>
